In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    [[1, 2, 3, 4], [6, 7, 8, 9]], columns=["D", "B", "E", "A"], index=[1, 2]
)
other = pd.DataFrame(
    [[10, 20, 30, 40], [60, 70, 80, 90], [600, 700, 800, 900]],
    columns=["A", "B", "C", "D"],
    index=[2, 3, 4],
)
df

   D  B  E  A
1  1  2  3  4
2  6  7  8  9

In [4]:
other

     A    B    C    D
2   10   20   30   40
3   60   70   80   90
4  600  700  800  900

In [5]:
left, right = df.align(other, join="inner", axis=1)
left

   D  B  A
1  1  2  4
2  6  7  9

In [6]:
right

     D    B    A
2   40   20   10
3   90   70   60
4  900  700  600