In [63]:
import numpy as np
import pandas as pd
from sklearn.metrics import make_scorer
from sklearn.metrics import accuracy_score

In [64]:
data = {'y_pred': [1, 0, 1, 1, 0, 0, 0, 1, 0, 1],
        'y_test': [1, 1, 0, 0, 0, 0, 0, 1, 1, 0]}

In [65]:
df = pd.DataFrame(data)

In [66]:
df

   y_pred  y_test
0       1       1
1       0       1
2       1       0
3       1       0
4       0       0
5       0       0
6       0       0
7       1       1
8       0       1
9       1       0

## Liste des pr√©dictions
#### 0 = remboursement, 1 = non-remboursement
0. TRUE POSITIVE
1. FALSE NEGATIVE ------
2. FALSE POSITIVE ------
3. FALSE POSITIVE ++++++
4. TRUE NEGATIVE
5. TRUE NEGATIVE
6. TRUE NEGATIVE
7. TRUE POSITIVE
8. FALSE NEGATIVE ++++++
9. FALSE POSITIVE ------

In [67]:
y_pred = np.array([1, 0, 1, 1, 0, 0, 0, 1, 0, 1])
y_pred

array([1, 0, 1, 1, 0, 0, 0, 1, 0, 1])

In [68]:
y_test = {'TARGET':[1, 1, 0, 0, 0, 0, 0, 1, 1, 0]}
y_test = pd.DataFrame(y_true)
y_test

   TARGET
0       1
1       1
2       0
3       0
4       0
5       0
6       0
7       1
8       1
9       0

## Ma function

In [75]:
def custom_penalty(y_test, y_pred):
    y_test = y_test.to_numpy().flatten()
    precision = accuracy_score(y_test, y_pred)
    penalty = 0.0
    
    for yt, yp in zip(y_test, y_pred):
        if yt == 1 and yp == 0:
            #penalty = precision * 0.1
            #ou
            penalty = penalty + 0.05
    return precision - penalty

## Fonction GitHub

In [79]:
def home_credit_scoring_fn(y_test, y_pred):
    """
    Custom scoring function, designed to penalize more false negatives
    by a factor 10 (default). It can be modified in the fn/fp variables
    """
    fn_cost = 10
    fp_cost = 1

    fp = ((y_pred == 1) & (y_test == 0)).sum()
    fn = ((y_pred == 0) & (y_test == 1)).sum()

    score = (fn * fn_cost + fp * fp_cost) / (fn + fp + 1e-7)  # Prevents zero division
    return score

## Hybrid function

In [104]:
def hybrid_penalty(y_test, y_pred):

    y_test = y_test.to_numpy().flatten()
    penalty = 0.0
    sum_penalty = 0
    
    for yt, yp in zip(y_test, y_pred):
        if yt == 1 and yp == 0:
            penalty = penalty + 10
            sum_penalty = sum_penalty +1
        elif yt == 0 and yp == 1:
            penalty = penalty + 1
            sum_penalty = sum_penalty +1
            
    score = (penalty/len(y_test))*0.1#/ (sum_penalty + 1e-7) # Prevents zero division
    return score

In [105]:
accuracy_score(y_test, y_pred)

0.5

In [106]:
#custom_penalty(y_test, y_pred)

In [107]:
hybrid_penalty(y_test, y_pred)

0.22999999999999998